/*
* @Author: Marte
* @Date:   2017-09-17 16:18:22
* @Last Modified by:   Marte
* @Last Modified time: 2017-09-17 16:29:35
*/
.toast {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #D15A39;
  background: #fff;
  box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.6);
  display: none;
}